[submodule "05_10_2024--567_Permutation_in_String"]
	path = 05_10_2024--567_Permutation_in_String
	url = https://github.com/madiv9820/05_10_2024--567_Permutation_in_String.git
[submodule "06_10_2024--1813_Sentence_Similarity_III"]
	path = 06_10_2024--1813_Sentence_Similarity_III
	url = https://github.com/madiv9820/06_10_2024--1813_Sentence_Similarity_III.git
[submodule "07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings"]
	path = 07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings
	url = https://github.com/madiv9820/07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings.git
[submodule "08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced"]
	path = 08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced
	url = https://github.com/madiv9820/08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced.git
[submodule "09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid"]
	path = 09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid
	url = https://github.com/madiv9820/09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid.git
