[submodule "05_10_2024--567_Permutation_in_String"]
	path = 05_10_2024--567_Permutation_in_String
	url = https://github.com/madiv9820/05_10_2024--567_Permutation_in_String.git
[submodule "06_10_2024--1813_Sentence_Similarity_III"]
	path = 06_10_2024--1813_Sentence_Similarity_III
	url = https://github.com/madiv9820/06_10_2024--1813_Sentence_Similarity_III.git
[submodule "07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings"]
	path = 07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings
	url = https://github.com/madiv9820/07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings.git
[submodule "08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced"]
	path = 08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced
	url = https://github.com/madiv9820/08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced.git
[submodule "09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid"]
	path = 09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid
	url = https://github.com/madiv9820/09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid.git
[submodule "10_10_2024--962_Maximum_Width_Ramp"]
	path = 10_10_2024--962_Maximum_Width_Ramp
	url = https://github.com/madiv9820/10_10_2024--962_Maximum_Width_Ramp.git
[submodule "11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair"]
	path = 11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair
	url = https://github.com/madiv9820/11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair.git
[submodule "12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups"]
	path = 12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups
	url = https://github.com/madiv9820/12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups.git
[submodule "14_10_2024--2530_Maximal_Score_After_Applying_K_Operations"]
	path = 14_10_2024--2530_Maximal_Score_After_Applying_K_Operations
	url = https://github.com/madiv9820/14_10_2024--2530_Maximal_Score_After_Applying_K_Operations.git
[submodule "15_10_2024--2938_Separate_Black_and_White_Balls"]
	path = 15_10_2024--2938_Separate_Black_and_White_Balls
	url = https://github.com/madiv9820/15_10_2024--2938_Separate_Black_and_White_Balls.git
[submodule "16_10_2024--1405_Longest_Happy_String"]
	path = 16_10_2024--1405_Longest_Happy_String
	url = https://github.com/madiv9820/16_10_2024--1405_Longest_Happy_String.git
[submodule "13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists"]
	path = 13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists
	url = https://github.com/madiv9820/13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists.git
[submodule "17_10_2024--670_Maximum_Swap"]
	path = 17_10_2024--670_Maximum_Swap
	url = https://github.com/madiv9820/17_10_2024--670_Maximum_Swap.git
[submodule "18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets"]
	path = 18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets
	url = https://github.com/madiv9820/18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets.git
[submodule "19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String"]
	path = 19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String
	url = https://github.com/madiv9820/19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String.git
[submodule "28_10_2024--2501_Longest_Square_Streak_in_an_Array"]
	path = 28_10_2024--2501_Longest_Square_Streak_in_an_Array
	url = https://github.com/madiv9820/28_10_2024--2501_Longest_Square_Streak_in_an_Array.git
[submodule "29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid"]
	path = 29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid
	url = https://github.com/madiv9820/29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid.git
[submodule "30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array"]
	path = 30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array
	url = https://github.com/madiv9820/30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array.git
[submodule "31_10_2024--2463_Minimum_Total_Distance_Traveled"]
	path = 31_10_2024--2463_Minimum_Total_Distance_Traveled
	url = https://github.com/madiv9820/31_10_2024--2463_Minimum_Total_Distance_Traveled.git
[submodule "01_11_2024--1957_Delete_Characters_to_Make_Fancy_String"]
	path = 01_11_2024--1957_Delete_Characters_to_Make_Fancy_String
	url = https://github.com/madiv9820/01_11_2024--1957_Delete_Characters_to_Make_Fancy_String.git
[submodule "02_11_2024--2490_Circular_Sentence"]
	path = 02_11_2024--2490_Circular_Sentence
	url = https://github.com/madiv9820/02_11_2024--2490_Circular_Sentence.git
[submodule "03_11_2024--796_Rotate_String"]
	path = 03_11_2024--796_Rotate_String
	url = https://github.com/madiv9820/03_11_2024--796_Rotate_String.git
[submodule "04_11_2024--3163_String_Compression_III"]
	path = 04_11_2024--3163_String_Compression_III
	url = https://github.com/madiv9820/04_11_2024--3163_String_Compression_III.git
[submodule "05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful"]
	path = 05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful
	url = https://github.com/madiv9820/05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful.git
[submodule "06_11_2024--3011_Find_if_Array_Can_Be_Sorted"]
	path = 06_11_2024--3011_Find_if_Array_Can_Be_Sorted
	url = https://github.com/madiv9820/06_11_2024--3011_Find_if_Array_Can_Be_Sorted.git
[submodule "07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero"]
	path = 07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero
	url = https://github.com/madiv9820/07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero.git
[submodule "12_11_2024--2070_Most_Beautiful_Item_for_Each_Query"]
	path = 12_11_2024--2070_Most_Beautiful_Item_for_Each_Query
	url = https://github.com/madiv9820/12_11_2024--2070_Most_Beautiful_Item_for_Each_Query.git
[submodule "13_11_2024--2563_Count_the_Number_of_Fair_Pairs"]
	path = 13_11_2024--2563_Count_the_Number_of_Fair_Pairs
	url = https://github.com/madiv9820/13_11_2024--2563_Count_the_Number_of_Fair_Pairs.git
[submodule "14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store"]
	path = 14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store
	url = https://github.com/madiv9820/14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store.git
