[submodule "05_10_2024--567_Permutation_in_String"]
	path = 05_10_2024--567_Permutation_in_String
	url = https://github.com/madiv9820/05_10_2024--567_Permutation_in_String.git
[submodule "06_10_2024--1813_Sentence_Similarity_III"]
	path = 06_10_2024--1813_Sentence_Similarity_III
	url = https://github.com/madiv9820/06_10_2024--1813_Sentence_Similarity_III.git
[submodule "07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings"]
	path = 07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings
	url = https://github.com/madiv9820/07-10-2024--2696_Minimum_String_Length_After_Removing_Substrings.git
[submodule "08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced"]
	path = 08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced
	url = https://github.com/madiv9820/08_10_2024--1963_Minimum_Number_of_Swaps_to_Make_the_String_Balanced.git
[submodule "09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid"]
	path = 09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid
	url = https://github.com/madiv9820/09_10_2024--921_Minimum_Add_to_Make_Parentheses_Valid.git
[submodule "10_10_2024--962_Maximum_Width_Ramp"]
	path = 10_10_2024--962_Maximum_Width_Ramp
	url = https://github.com/madiv9820/10_10_2024--962_Maximum_Width_Ramp.git
[submodule "11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair"]
	path = 11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair
	url = https://github.com/madiv9820/11_10_2024--1942_The_Number_of_the_Smallest_Unoccupied_Chair.git
[submodule "12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups"]
	path = 12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups
	url = https://github.com/madiv9820/12_10_2024--2406_Divide_Intervals_Into_Minimum_Number_of_Groups.git
[submodule "14_10_2024--2530_Maximal_Score_After_Applying_K_Operations"]
	path = 14_10_2024--2530_Maximal_Score_After_Applying_K_Operations
	url = https://github.com/madiv9820/14_10_2024--2530_Maximal_Score_After_Applying_K_Operations.git
[submodule "15_10_2024--2938_Separate_Black_and_White_Balls"]
	path = 15_10_2024--2938_Separate_Black_and_White_Balls
	url = https://github.com/madiv9820/15_10_2024--2938_Separate_Black_and_White_Balls.git
[submodule "16_10_2024--1405_Longest_Happy_String"]
	path = 16_10_2024--1405_Longest_Happy_String
	url = https://github.com/madiv9820/16_10_2024--1405_Longest_Happy_String.git
[submodule "13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists"]
	path = 13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists
	url = https://github.com/madiv9820/13_10_2024--632_Smallest_Range_Covering_Elements_from_K_Lists.git
[submodule "17_10_2024--670_Maximum_Swap"]
	path = 17_10_2024--670_Maximum_Swap
	url = https://github.com/madiv9820/17_10_2024--670_Maximum_Swap.git
[submodule "18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets"]
	path = 18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets
	url = https://github.com/madiv9820/18_10_2024--2044_Count_Number_of_Maximum_Bitwise_OR_Subsets.git
[submodule "19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String"]
	path = 19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String
	url = https://github.com/madiv9820/19_10_2024--1545_Find_Kth_Bit_in_Nth_Binary_String.git
[submodule "28_10_2024--2501_Longest_Square_Streak_in_an_Array"]
	path = 28_10_2024--2501_Longest_Square_Streak_in_an_Array
	url = https://github.com/madiv9820/28_10_2024--2501_Longest_Square_Streak_in_an_Array.git
[submodule "29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid"]
	path = 29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid
	url = https://github.com/madiv9820/29_10_2024--2684_Maximum_Number_of_Moves_in_a_Grid.git
[submodule "30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array"]
	path = 30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array
	url = https://github.com/madiv9820/30_10_2024--1671_Minimum_Number_of_Removals_to_Make_Mountain_Array.git
[submodule "31_10_2024--2463_Minimum_Total_Distance_Traveled"]
	path = 31_10_2024--2463_Minimum_Total_Distance_Traveled
	url = https://github.com/madiv9820/31_10_2024--2463_Minimum_Total_Distance_Traveled.git
[submodule "01_11_2024--1957_Delete_Characters_to_Make_Fancy_String"]
	path = 01_11_2024--1957_Delete_Characters_to_Make_Fancy_String
	url = https://github.com/madiv9820/01_11_2024--1957_Delete_Characters_to_Make_Fancy_String.git
[submodule "02_11_2024--2490_Circular_Sentence"]
	path = 02_11_2024--2490_Circular_Sentence
	url = https://github.com/madiv9820/02_11_2024--2490_Circular_Sentence.git
[submodule "03_11_2024--796_Rotate_String"]
	path = 03_11_2024--796_Rotate_String
	url = https://github.com/madiv9820/03_11_2024--796_Rotate_String.git
[submodule "04_11_2024--3163_String_Compression_III"]
	path = 04_11_2024--3163_String_Compression_III
	url = https://github.com/madiv9820/04_11_2024--3163_String_Compression_III.git
[submodule "05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful"]
	path = 05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful
	url = https://github.com/madiv9820/05_11_2024--2914_Minimum_Number_of_Changes_to_Make_Binary_String_Beautiful.git
[submodule "06_11_2024--3011_Find_if_Array_Can_Be_Sorted"]
	path = 06_11_2024--3011_Find_if_Array_Can_Be_Sorted
	url = https://github.com/madiv9820/06_11_2024--3011_Find_if_Array_Can_Be_Sorted.git
[submodule "07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero"]
	path = 07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero
	url = https://github.com/madiv9820/07_11_2024--2275_Largest_Combination_With_Bitwise_AND_Greater_Than_Zero.git
[submodule "12_11_2024--2070_Most_Beautiful_Item_for_Each_Query"]
	path = 12_11_2024--2070_Most_Beautiful_Item_for_Each_Query
	url = https://github.com/madiv9820/12_11_2024--2070_Most_Beautiful_Item_for_Each_Query.git
[submodule "13_11_2024--2563_Count_the_Number_of_Fair_Pairs"]
	path = 13_11_2024--2563_Count_the_Number_of_Fair_Pairs
	url = https://github.com/madiv9820/13_11_2024--2563_Count_the_Number_of_Fair_Pairs.git
[submodule "14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store"]
	path = 14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store
	url = https://github.com/madiv9820/14_11_2024--2064_Minimized_Maximum_of_Products_Distributed_to_Any_Store.git
[submodule "15_11_2024--1574_Shortest_Subarray_to_be_Removed_to_Make_Array_Sorted"]
	path = 15_11_2024--1574_Shortest_Subarray_to_be_Removed_to_Make_Array_Sorted
	url = https://github.com/madiv9820/15_11_2024--1574_Shortest_Subarray_to_be_Removed_to_Make_Array_Sorted.git
[submodule "16_11_2024--3254_Find_the_Power_of_K-Size_Subarrays_I"]
	path = 16_11_2024--3254_Find_the_Power_of_K-Size_Subarrays_I
	url = https://github.com/madiv9820/16_11_2024--3254_Find_the_Power_of_K-Size_Subarrays_I.git
[submodule "17_11_2024--862_Shortest_Subarray_with_Sum_at_Least_K"]
	path = 17_11_2024--862_Shortest_Subarray_with_Sum_at_Least_K
	url = https://github.com/madiv9820/17_11_2024--862_Shortest_Subarray_with_Sum_at_Least_K.git
[submodule "18_11_2024--1652_Defuse_the_Bomb"]
	path = 18_11_2024--1652_Defuse_the_Bomb
	url = https://github.com/madiv9820/18_11_2024--1652_Defuse_the_Bomb.git
[submodule "19_11_2024--2461_Maximum_Sum_of_Distinct_Subarrays_With_Length_K"]
	path = 19_11_2024--2461_Maximum_Sum_of_Distinct_Subarrays_With_Length_K
	url = https://github.com/madiv9820/19_11_2024--2461_Maximum_Sum_of_Distinct_Subarrays_With_Length_K.git
[submodule "20_11_2024--2516_Take_K_of_Each_Character_From_Left_and_Right"]
	path = 20_11_2024--2516_Take_K_of_Each_Character_From_Left_and_Right
	url = https://github.com/madiv9820/20_11_2024--2516_Take_K_of_Each_Character_From_Left_and_Right.git
[submodule "21_11_2024--2257_Count_Unguarded_Cells_in_the_Grid"]
	path = 21_11_2024--2257_Count_Unguarded_Cells_in_the_Grid
	url = https://github.com/madiv9820/21_11_2024--2257_Count_Unguarded_Cells_in_the_Grid.git
[submodule "01_12_2024--1346_Check_If_N_and_Its_Double_Exist"]
	path = 01_12_2024--1346_Check_If_N_and_Its_Double_Exist
	url = https://github.com/madiv9820/01_12_2024--1346_Check_If_N_and_Its_Double_Exist.git
[submodule "02_12_2024--1455_Check_If_a_Word_Occurs_As_a_Prefix_of_Any_Word_in_a_Sentence"]
	path = 02_12_2024--1455_Check_If_a_Word_Occurs_As_a_Prefix_of_Any_Word_in_a_Sentence
	url = https://github.com/madiv9820/02_12_2024--1455_Check_If_a_Word_Occurs_As_a_Prefix_of_Any_Word_in_a_Sentence.git
[submodule "03_12_2024--2109_Adding_Spaces_to_a_String"]
	path = 03_12_2024--2109_Adding_Spaces_to_a_String
	url = https://github.com/madiv9820/03_12_2024--2109_Adding_Spaces_to_a_String.git
[submodule "04_12_2024--2825_Make_String_a_Subsequence_Using_Cyclic_Increments"]
	path = 04_12_2024--2825_Make_String_a_Subsequence_Using_Cyclic_Increments
	url = https://github.com/madiv9820/04_12_2024--2825_Make_String_a_Subsequence_Using_Cyclic_Increments.git
[submodule "05_12_2024--2337_Move_Pieces_to_Obtain_a_String"]
	path = 05_12_2024--2337_Move_Pieces_to_Obtain_a_String
	url = https://github.com/madiv9820/05_12_2024--2337_Move_Pieces_to_Obtain_a_String.git
[submodule "09_12_2024--3152_Special_Array_II"]
	path = 09_12_2024--3152_Special_Array_II
	url = https://github.com/madiv9820/09_12_2024--3152_Special_Array_II.git
[submodule "12_12_2024--2558_Take_Gifts_From_the_Richest_Pile"]
	path = 12_12_2024--2558_Take_Gifts_From_the_Richest_Pile
	url = https://github.com/madiv9820/12_12_2024--2558_Take_Gifts_From_the_Richest_Pile.git
[submodule "13_12_2024--2593_Find_Score_of_an_Array_After_Marking_All_Elements"]
	path = 13_12_2024--2593_Find_Score_of_an_Array_After_Marking_All_Elements
	url = https://github.com/madiv9820/13_12_2024--2593_Find_Score_of_an_Array_After_Marking_All_Elements.git
[submodule "14_12_2024--2762_Continuous_Subarrays"]
	path = 14_12_2024--2762_Continuous_Subarrays
	url = https://github.com/madiv9820/14_12_2024--2762_Continuous_Subarrays.git
[submodule "16_12_2024--3264_Final_Array_State_After_K_Multiplication_Operations_I"]
	path = 16_12_2024--3264_Final_Array_State_After_K_Multiplication_Operations_I
	url = https://github.com/madiv9820/16_12_2024--3264_Final_Array_State_After_K_Multiplication_Operations_I.git
[submodule "17_12_2024--2182_Construct_String_With_Repeat_Limit"]
	path = 17_12_2024--2182_Construct_String_With_Repeat_Limit
	url = https://github.com/madiv9820/17_12_2024--2182_Construct_String_With_Repeat_Limit.git
[submodule "18_12_2024--1475_Final_Prices_With_a_Special_Discount_in_a_Shop"]
	path = 18_12_2024--1475_Final_Prices_With_a_Special_Discount_in_a_Shop
	url = https://github.com/madiv9820/18_12_2024--1475_Final_Prices_With_a_Special_Discount_in_a_Shop.git
[submodule "19_12_2024--769_Max_Chunks_To_Make_Sorted"]
	path = 19_12_2024--769_Max_Chunks_To_Make_Sorted
	url = https://github.com/madiv9820/19_12_2024--769_Max_Chunks_To_Make_Sorted.git
[submodule "20_12_2024--2415_Reverse_Odd_Levels_of_Binary_Tree"]
	path = 20_12_2024--2415_Reverse_Odd_Levels_of_Binary_Tree
	url = https://github.com/madiv9820/20_12_2024--2415_Reverse_Odd_Levels_of_Binary_Tree.git
